name: Go CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-test:
    runs-on: ubuntu-latest

    steps:
      # checkout repository
      - name: checkout
        uses: actions/checkout@v4

      # Setup Go
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      # Cache Go modules
      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runners.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runners.os }}-go-

      # Install golangci-lint
      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: 'latest'

      # Run linter
      - name: Run golangci-lint
        run: golangci-lint run ./...

      # Run unit tests
      - name: Run tests
        run: go test ./... -v
